################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/blasteg.github.io.slnx/FileContentIndex
/.vs/blasteg.github.io.slnx/v18/.wsuo
/.vs/blasteg.github.io.slnx/v18/DocumentLayout.backup.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
